streamlit
google-generativeai
langchain
langchain-google-genai
langchain-community
langchain-huggingface
faiss-cpu
pymupdf
sentence-transformers
transformers
torch
nltk
plotly
bcrypt
textstat
gtts
language-tool-python
speechrecognition
pydub
numexpr
